# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/build/

# YCSBC outputs
ycsbc/ycsbc
ycsbc/export/

# Temporary Files
*.result
*.log
*.data
*.output

# IDE Files
.project
.cproject
.settings/
.vscode/
.DS_Store
